{% extends 'core/base.html' %} {% load static %} {% block content %}

<section>
  <div id="main" class="md:flex h-auto">
    <!-- Filter Starts here -->
    <aside style="display: none ;" id="filter" class="sm:block pt-28 sm:w-1/4 px-8 bg-slate-800 border-y-2 border-slate-900">
      <div class="flex">
        <h2 class="font-bold md:text-2xl text-xl mb-6">
          Filter your search
        </h2>
        {% include "core/dot.html" %}
      </div>

      <form action=".">
        <label class="text-slate-400 font-semibold" for="state">State</label>
        <div class="text-slate-900 mt-1 w-full rounded-sm">
          {{ form.region }}
        </div>
        <br />

        <label class="text-slate-400 font-semibold" for="city">City</label>
        <div class="text-slate-900 mt-1 w-full rounded-sm">
          {{ form.city }}
        </div>
        <br />

        <label class="text-slate-400 font-semibold" for="price">Budget</label>
        <div class="text-slate-900 mt-1 w-full rounded-sm">
          {{ form.price }}
        </div>
        <br />

        <label class="text-slate-400 font-semibold" for="sitting_rooms">Sitting Rooms</label>
        <div class="text-slate-900 mt-1 w-full rounded-sm">
          {{ form.sitting_rooms }}
        </div>
        <br />

        <label class="text-slate-400 font-semibold" for="dining_rooms">Dining Rooms</label>
        <div class="text-slate-900 mt-1 w-full rounded-sm">
          {{ form.dining_rooms }}
        </div>
        <br />

        <label class="text-slate-400 font-semibold" for="rooms">Rooms</label>
        <div class="text-slate-900 mt-1 w-full rounded-sm">
          {{ form.rooms }}
        </div>
        <br />

        <label class="text-slate-400 font-semibold" for="rooms">Bathrooms</label>
        <div class="text-slate-900 mt-1 w-full rounded-sm">
          {{ form.bathrooms }}
        </div>
        <br />

        <label class="text-slate-400 font-semibold" for="garages">Garages</label>
        <div class="text-slate-900 mt-1 w-full rounded-sm">
          {{ form.garages }}
        </div>
        <br />

        <label class="text-slate-400 font-semibold" for="kitchen">Kitchen</label>
        <div class="text-slate-900 mt-1 w-full rounded-sm">
          {{ form.kitchen }}
        </div>
        <br />

        <label class="text-slate-400 font-semibold" for="forsale">For Sale</label>
        {{ form.forsale }}
        <br />
        <button
          class="px-12 py-2 my-5 bg-indigo-600 rounded-md text-slate-900 font-bold hover:bg-transparent border-2 border-indigo-600 hover:text-indigo-600"
          type="submit">
          APPLY
        </button>
      </form>
    </aside>
    <!-- Results Starts here -->
    <main class="sm:w-3/4">
      <form class="flex gap-x-2 mb-4 justify-center bg-slate-800 border-l-2 border-slate-900 border-t-2 border-slate-900 py-2" action=".">
        <input class="rounded-full px-3 outline-none text-slate-600 focus:border-2 focus:border-indigo-600 sm:py-1 placeholder:italic placeholder:text-slate-600" type="search" name="search"  placeholder="Search">
        <button class="bg-indigo-600 p-2 rounded-full border-2 hover:bg-transparent border-indigo-600" type="submit">
          {% include "core/search.html" %}
        </button>
      </form>
      <section class="lg:px-10 lg:mx-12 px-8 py-10">
        <div class="flex">
          <h2 class="font-bold md:text-2xl text-xl mb-6">
            Property Listings
          </h2>
          {% include "core/dot.html" %}
        </div>
        {% if queryset.exists %}
        <div class="grid sm:grid-cols-2 gap-2 mb-12">
          {% for house in queryset %}
          <a class="shadow-md" href="{{ house.get_absolute_url }}">
            <div class="rounded-md">
                <img loading="lazy" class="rounded-t-md h-52 w-full object-cover" src="{{ house.image_set.all.0.url }}"
                    alt="">
                <div class="flex bg-slate-800 rounded-b-md justify-between p-2">
                    <h2 class="sm:font-bold font-medium sm:text-base text-sm">
                        {{ house.city.name }}, {{ house.region.name }}
                    </h2>
                    <div class="flex text-indigo-600">
                        <?xml version="1.0" encoding="iso-8859-1"?>
                        <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <!DOCTYPE svg
                            PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="496.262px"
                            height="496.262px" viewBox="0 0 496.262 496.262"
                            style="enable-background: new 0 0 496.262 496.262" xml:space="preserve"
                            class="sm:w-5 sm:h-5 w-4 h-4 fill-current mt-1">
                            <g>
                                <path d="M477.832,274.28h-67.743v-65.106h67.743c10.179,0,18.43-8.243,18.43-18.424c0-10.182-8.251-18.43-18.43-18.43h-67.743
                V81.982c0-13.187-2.606-22.866-7.743-28.762c-4.882-5.609-11.301-8.219-20.19-8.219c-8.482,0-14.659,2.592-19.447,8.166
                c-5.077,5.902-7.654,15.599-7.654,28.821v90.343H227.627l-54.181-81.988c-4.637-7.317-8.997-14.171-13.231-20.75
                c-3.812-5.925-7.53-10.749-11.042-14.351c-3.109-3.189-6.652-5.657-10.796-7.554c-3.91-1.785-8.881-2.681-14.762-2.681
                c-7.501,0-14.31,2.055-20.83,6.277c-6.452,4.176-10.912,9.339-13.636,15.785c-2.391,6.126-3.656,15.513-3.656,27.63v77.626h-67.07
                C8.246,172.326,0,180.574,0,190.755c0,10.181,8.246,18.424,18.424,18.424h67.07v65.113h-67.07C8.246,274.292,0,282.538,0,292.722
                C0,302.9,8.246,311.14,18.424,311.14h67.07v103.143c0,12.797,2.689,22.378,8.015,28.466c5.065,5.805,11.487,8.5,20.208,8.5
                c8.414,0,14.786-2.707,20.07-8.523c5.411-5.958,8.148-15.533,8.148-28.442V311.14h115.308l62.399,95.683
                c4.339,6.325,8.819,12.709,13.287,18.969c4.031,5.621,8.429,10.574,13.069,14.711c4.179,3.742,8.659,6.484,13.316,8.157
                c4.794,1.726,10.397,2.601,16.615,2.601c16.875,0,34.158-5.166,34.158-43.479V311.14h67.743c10.179,0,18.43-8.252,18.43-18.43
                C496.262,282.532,488.011,274.28,477.832,274.28z M355.054,209.173v65.106h-60.041l-43.021-65.106H355.054z M141.936,134.364
                l24.76,37.956h-24.76V134.364z M141.936,274.28v-65.106h48.802l42.466,65.106H141.936z M355.054,365.153l-35.683-54.013h35.683
                V365.153z" />
                            </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                        </svg>
                        <h2 class="font-bold sm:text-lg text-base">
                            {{ house.price }}
                        </h2>
                    </div>
                </div>
            </div>
        </a>
          {% endfor %} {% else %}
          <h1 class="font-bold text-center text-gray-800 pt-20 text-3xl h-screen">
            No Appartment Matched Your Search...
          </h1>
        </div>
        {% endif %}
      </section>
    </main>
  </div>
</section>

{% endblock %} {% block js %}
<script>
  function getCookie (name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const csrftoken = getCookie("csrftoken");
  let state = document.getElementById("id_region");

  state.addEventListener("change", (e) => {
    const data = { state_id: e.target.value };

    fetch("{% url 'cities' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify(data),
    })
      .then((res) => res.json())
      .then((data) => {
        let city = document.getElementById("id_city");
        let html = '<option value="">----------</option>';

        data.forEach((x) => {
          html += `<option value="${x.id}">${x.name}</option>`;
        });

        city.innerHTML = html;
      })
      .catch((err) => {
        console.log(err);
      });
  });
</script>
{% endblock %}