{% extends "core/base.html" %}

{% block content %}
<a class="underline text-slate-400 hover:text-indigo-600 block my-4 mx-12" href="{% url 'home' %}">Go back to the home page</a>
<section class="h-screen sm:m-12 mx-12 my-8">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-indigo-600">Password reset sent</h1>
    <p class="sm:text-base text-sm">
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly.
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your
        spam folder.</p>
</section>

{% endblock %}