{% extends "admin/change_form.html" %}
{% load static %}
{% block extrastyle %}

<link rel='stylesheet' href="{% static 'css/styles.css' %}">
{% endblock %}
{% block content_title %}
<h1 class="mb-4 lg:ml-8 text-xl font-medium leading-tight tracking-tight md:text-2xl">Add Agent</h1>
{% endblock %}

{% block content %}
<section class="lg:mx-8">
    <form action="." method="post" enctype="multipart/form-data">
        {% if errors %}
        <p class="errornote mb-4 text-red-500">Please correct the error(s) below</p>
        {% endif %}

        {% csrf_token %}
        <div class="mb-4">
            <label class="text-slate-400" for="id_email">Email</label>
            {{ form.email }}
            {% if adminform.errors.email %}
            {% for error in adminform.errors.email %}
            <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="grid sm:grid-cols-2 sm:gap-x-2">
            <div class="mb-4">
                <label class="text-slate-400" for="id_first_name">First Name</label>
                {{ form.first_name }}
                {% if adminform.errors.first_name %}
                {% for error in adminform.errors.first_name %}
                <p class="text-red-500 text-sm">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div class="mb-4">
                <label class="text-slate-400" for="id_last_name">Last Name</label>
                {{ form.last_name }}
                {% if adminform.errors.last_name %}
                {% for error in adminform.errors.last_name %}
                <p class="text-red-500 text-sm">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="mb-4">
            <label class="text-slate-400" for="id_password1">Password</label>
            {{ form.password1 }}
            {% if adminform.errors.password1 %}
            {% for error in adminform.errors.password1 %}
            <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="text-slate-400" for="id_password1">Password confirmation</label>
            {{ form.password2 }}
            {% if adminform.errors.password2 %}
            {% for error in adminform.errors.password2 %}
            <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>


        <div class="mb-4">
            <label class="text-slate-400" class="block" for="id_photo">Profile Photo</label>
            <input type="file" name="photo" id="id_photo">
        </div>

        <div class="mb-4">
            <label class="text-slate-400" for="id_phone_number">Phone Number</label>
            {{ form.phone_number }}
            {% if adminform.errors.phone_number %}
            {% for error in adminform.errors.phone_number %}
            <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="text-slate-400" for="id_twitter">Twitter (optional)</label>
            {{ form.twitter }}
            {% if adminform.errors.twitter %}
            {% for error in adminform.errors.twitter %}
            <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="text-slate-400" for="id_instagram">Instagram (optional)</label>
            {{ form.instagram }}
            {% if adminform.errors.instagram %}
            {% for error in adminform.errors.instagram %}
            <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="text-slate-400" for="id_facebook">Facebook (optional)</label>
            {{ form.facebook }}
            {% if adminform.errors.facebook %}
            {% for error in adminform.errors.facebook %}
            <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <!-- permissions -->
        <h2 class="block bg-slate-800 w-full mt-8 mb-2 p-2 text-indigo-600 font-medium">
            Permissions
        </h2>
        <div class="mb-4">
            <label class="text-slate-400" for="id_facebook">Staff status</label>
            {{ form.is_staff }}
            <span class="text-sm text-slate-400 font-light block">
                This designates if the user can login into the admin site
            </span>
        </div>

        <div class="flex justify-between">
            <input type="submit" value="Save" class="default" name="_save">
            <input type="submit" value="Save and add another" class="default" name="_addanother">
        </div>
    </form>
</section>


{% endblock %}